@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/BebasNeueRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/BebasNeueBold.ttf') format('truetype');
}
a:hover{
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
}
.list-post .dalam {
    background: #fff;
    /* box-shadow: 1px 1px 3px rgb(228, 228, 228); */
    border: 1px solid #f2f2f2;
    border-bottom: 4px solid #dedede;
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
nav.pagination-nav {
    text-align: center;
}
.meta-post h2 {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0px;
    height: 60px;
    overflow: hidden;
}
.meta-post h2 a {
    text-decoration: none;
    color: #de3a42;
    font-weight: 700;
    margin: 15px 0;
}
.meta-post h2 a:hover {
  color: #333;
}
.list-post .meta-post {
    padding: 10px;
}
.list-post .tanggal {
    font-size: 11px;
    color: #afafaf;
}
.list-post .dalam .kategori {
    /* position: absolute; */
    /* top: 0px; */
    /* left: 0px; */
    background: #2196F3;
    padding: 4px 8px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}
.navbar-default {
    background-color: #fff;
}
body > .container {
    margin-top: 70px;
}
/*.gambar:after {
    content: " ";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.gambar {
    position: relative;
}*/
#nav-wrapper {
    background: #de3a42;
    border-bottom: 3px solid #d2353d;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0 0 3px #6f6f6f;
    z-index: 9;
}
.left {
    float: left;
}
.right {
    float: right;
}
#nav-wrapper ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    float: right;
}
.head-title a {
    font-family: 'Bebas';
    font-size: 35px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 6px;
}
#nav-wrapper ul li {
    display: block;
    float: left;
}
#nav-wrapper ul li a {
    color: #f5f5f5;
    /* background: #fff; */
    display: block;
    font-weight: bold;
    border-radius: 3px;
    padding: 8px 12px;
    margin: 10px 15px 10px 0;
}
.widget {
    /* background: #fff; */
    background: #fff;
    /* box-shadow: 1px 1px 3px rgb(228, 228, 228); */
    border: 1px solid #f2f2f2;
    /* border-bottom: 4px solid #dedede; */
    /* border-radius: 5px; */
    position: relative;
    /* margin-bottom: 30px; */
    overflow: hidden;
}
.widget > h3 {
    font-family: 'Bebas';
    background: #1c83d6;
    color: #fff;
    margin: 0 0 10px 0;
    padding: 10px 15px 5px 15px;
    font-size: 20px;
    font-weight: bold;
    border-left: 3px solid #075a9c;
}
.widget-content ul li {
    margin-bottom: 10px;
}
.widget-content ul {
    padding-left: 20px;
    list-style: square;
}
.widget-content {
    padding: 10px;
    font-size: 13px;
}
